/* static/css/style.css */
:root {
    --savannah-gold: #d4af37;
    --savannah-dark: #1a1a1a;
}

body {
    background-color: #f4f4f4;
}

.navbar-savannah {
    background-color: var(--savannah-dark);
    border-bottom: 3px solid var(--savannah-gold);
}

.card-dashboard {
    transition: transform 0.3s;
    border: none;
    border-top: 5px solid var(--savannah-gold);
}

.card-dashboard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}

.btn-savannah {
    background-color: var(--savannah-dark);
    color: white;
    border: 1px solid var(--savannah-gold);
}

.btn-savannah:hover {
    background-color: var(--savannah-gold);
    color: var(--savannah-dark);
}